.header {
    background-color: rgb(122, 122, 122);
    height: 40px;
    padding: 8px;
}

.HeaderGroup1 {
    height: 100%;
    width: height;
    display: flex;
    flex-direction: row;
}

.logo {
    height: 100%;
}

.logo img {
    height: 100%;
}

.hamburgerComponent {
    height: 100%;
}