.postList {
    background-color: rgb(255, 226, 226);
    width: 1000px;
    height: calc(100% - 56px);
    display: flex;
    left: 350px;
    position: absolute;
    flex-direction: column;
    padding: 8px;
}